@import '../mixins/mixins';
@import '../variables/variable';

/*=========================================================
                    Work css Start
=========================================================*/
#work {
    overflow: hidden;

    .work_text {
        margin-bottom: 95px;
        margin-top: 50px;
        text-align: center;

        p {
            @include fs(#999, 15px, 400, $robo);
        }
    }

    .work_gal {
        .work_left {
            .work_gal_col {
                position: relative;
                padding: 0;

                .work_overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
                    transform: scale(0);
                    transition: all linear .3s;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-size: 25px;
                        cursor: zoom-in;
                    }
                }

                &:hover {
                    .work_overlay {
                        transform: scale(1);
                    }
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .work_right {

            .work_gal_col {
                padding: 0;

                .work_overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
                    transform: scale(0);
                    transition: all linear .3s;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-size: 25px;
                        cursor: zoom-in;
                    }
                }

                &:hover {
                    .work_overlay {
                        transform: scale(1);
                    }
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            .work_right_2 {

                .work_gal_col {
                    padding: 0;

                    .work_overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(226, 62, 56, 0.5);
                        border: 5px solid rgba(255, 255, 255, 0.5);
                        transform: scale(0);
                        transition: all linear .3s;
    
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                            font-size: 25px;
                            cursor: zoom-in;
                        }
                    }
    
                    &:hover {
                        .work_overlay {
                            transform: scale(0.9);
                        }
                    }

                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

/*=========================================================
                    Work css end
=========================================================*/